<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="background-color: #01162b;">

    <ion-buttons slot="primary">
      <ion-button (click)="logout()" color="danger" fill="outline">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>
<ion-content>
  <br>
  <ion-title class="ion-text-center ion-text">
    <p>Sistema de asistencias duoc</p>
   </ion-title>

   <br>
   <ion-title class="ion-text-center ion-text">
     <p>No hay nada aquí</p>
    </ion-title>
</ion-content>
