
ion-button{
      background-color:  #01162b;
      color: white;
     }
ion-tittle{
  color: white;
  text-align: left;
}
ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  background-color: #01162b;
    }
ion-title {
      text-align: center;
  }
